<section class="home-section" id="home">
    <div class="container home-container">
       <div class="home-wrapper">
        <h1 class="home-title">Triple Chili</h1>
        <p class="home-text">Look, this isn't your run-of-the-mill slot game. We drew from Mayan and Aztec stuff because, honestly, those cultures
        knew how to make symbols that actually mattered. And trust me, if you're the type who just mashes the spin button,
        you're gonna miss the whole point.<br class="desk"/><br class="desk" /> Triple Chili is not about speed.<br/>It’s about pressure, balance, and the slow build of
        energy — where each move matters and the symbols actually mean something.</p>
        <a class="home-link btn pulse" href="#demo">
            <p>Enter the Game World</p>
        </a>
       </div>
    </div>
</section>