body{
  background: #1f1e1e;
  font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #f1eee1;
}
h2{
  font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #f1eee1;
}
.title-container{
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 40px;
}
h3{
  font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    background: linear-gradient(180deg, #ffc401 0%, #94050f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
  border: 1px solid rgba(188, 95, 13, 0.6);
    border-radius: 8px;
    width: 240px;
    height: 48px;
    box-shadow: 1px 2px 2px 0 rgba(167, 59, 12, 0.5);
      background: #94050f;
      padding: 14px;
      display: flex;
     justify-content: center;
     align-items: center;
    font-family: "Barlow Semi Condensed", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.3;
      color: #f1eee1;
      transition: background 0.3s ease-in-out;
}
.btn:hover,
.btn:active,
.btn:focus{
  background: #94050f, linear-gradient(180deg, #ff8401 0%, #94050f 100%);
}