.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 48px 16px;
background: #1f1e1e;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: none;
}
.cookie-popup::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;


    background: linear-gradient(90deg, #FFC401, #94050F);

    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
}
.cookie-class {
font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #f1eee1;

}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
width: 245px;
    height: 32px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
border-radius: 4px;
    padding: 8px 10px;
    width: 101px;
    height: 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #f1eee1;
    box-sizing: border-box;
    border: none;
font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    color: #0a0721;

}

.btn-decline {
    border: none;
border-bottom: 1px solid #f1eee1;
    padding: 8px 10px;
    width: 104px;
    height: 32px;
font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    color: #f1eee1;
    box-sizing: border-box;
    background-color: inherit;
}


@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 64px 250px;
        width: 1439px;
        height: auto;
    }
.mob{
    display: none;
}
    .popup-wrapper {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
    }

    .cookie-class {
        width: 100%;

    }

    .cookie-buttons {
        margin-top: 0;
        width: 229px;
            height: 32px;
gap: 24px;
    }

}