.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 25px;
  font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #f1eee1;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-text{
    order: 1;
  }
  .footer-link{
    order: 2;
  }
  .footer-navigation{
    order: 3;
    gap: 8px;
  }
}