@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.02);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.home-link.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;

}
.home-container{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.home-wrapper{
margin-top: 288px;
display: flex;
flex-direction: column;
align-items: center;
}
.home-title{
    font-family: "Akronim", sans-serif;
font-weight: 400;
font-size: 70px;
background: linear-gradient(180deg, #ffc401 0%, #94050f 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.home-text{
    margin-top: 20px;
    width: 323px;
    margin-bottom: 40px;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
  .home-container{
    background-image: url("/img/hero/desk.png");
    padding-bottom: 169px;
  }  
  .home-wrapper{
    margin-top: 80px;
    margin-right: 0;
    margin-left: auto;
    width: 435px;
    align-items: start;
    text-align: left;
  }
  .home-title{
    font-size: 110px;
  }
  .desk{
    display: block;
  }
  .home-text{
    width: 427px;
    margin-top: 32px;
    margin-bottom: 27px;
  }
}
/* About the Game */
.about-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}
.about-text{
  width: 319px;
}
.about-subtitle{
  font-size: 48px;
}
@media only screen and (min-width: 1440px) {
  .about-container{
    position: relative;
  }
  .about-subtitle{
    text-align: left;
    font-size: 100px;
    line-height: 1.3;
  }
  .about-img{
    position: absolute;
    top: 19%;
    right: 8%;
  }
  .about-wrapper{
    margin-top: 32px;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-text{
    width: 588px;
    text-align: left;
  }
  .about-text-two{
    text-align: right;
  }
}
/* Game Structure */

.game-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.game-text{
  width: 327px;
}
@media only screen and (min-width: 1440px) {
  .game-container{
    position: relative;
  }
  .game-img{
    position: absolute;
    left: 8%;
    top: 27%;
  }
.game-wrapper{
  margin-right: 0;
  margin-left: auto;
  width: 656px;
  align-items: end;

}
.game-subtitle{
  text-align: right;
}
.game-text{
  text-align: right;
  width: 100%;
}
}
/* Wild Pyramid */
.wild-wrapper{
  display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
@media only screen and (min-width: 1440px) {
 .wild-container{
  position: relative;
 }
 .wild-img{
      position: absolute;
        right: 8%;
        top: 27%;
 }
 .wild-wrapper {
  gap: 32px;
  width: 588px;
  align-items: start;
}
.wild-text{
  text-align: left;
}
.wild-subtitle{
  text-align: left;
}
}
/* Atmosphere & Experience */
@media only screen and (min-width: 1440px) {
 .atmosphere-wrapper{
  width: 578px;
 }
}