@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./cookie-popup.css');


.background {
    text-align: left;
font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: #f1eee1;
}



.privacy-title {
font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(180deg, #ffc401 20%, #94050f 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
    margin-bottom: 30px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #f1eee1;
    background: none;
        background-clip: border-box;
        -webkit-background-clip: border-box;
        -webkit-text-fill-color: initial;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .privacy-title {
        font-size: 40px;
    }

    .policy-container {
        padding-left: 189px;
        padding-right: 189px;
    }

}